// COLORS
$color-gold-light:rgb(255, 221, 29);
$color-gold:rgb(224, 185, 57);
$color-gold-dark: rgb(228, 171, 1);
$color-gray-dark:#262626;
$color-gray-medium: #595959;
$color-gray-light:#BFBFBF;
$color-white: #fff;
$color-black:#000;
$color-wine: #c00505;

// FONT-SIZES
$default-font-size:1.6rem;
$title-font-family: 'Mountains of Christmas',
cursive;

$font-numbers:'Monoton',
cursive;

// GRID
$grid-width:114rem;
$gutter-vertical:6rem;
$gutter-vertical-small:3rem;
$gutter-horizontal:6rem;