.card {
    // FUNCIONALIDADE
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 24rem;
    cursor: pointer;
    transition: all .6s ease;
    overflow: hidden;
    box-shadow: -1rem 1rem .1rem rgba($color-black, .3);
    border-radius: .5rem;

    &:hover{
        box-shadow: none;
        transform: scale(1.1);
        z-index: 11;
    }

    &__side {
        height: 24rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow: hidden;

        // adaptacao flex
        min-width: 100%;
        display: block;

        &--front {
            background-color: rgba($color-black, .1);
        }

        &--back {
            background-image: linear-gradient(to right bottom,
                    rgba($color-gray-dark, .9),
                    rgba($color-black, 1),
                    rgba($color-gray-dark, .9));
            transform: rotateY(180deg);
        }

    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // CAPAS

    &__picture {
        background-size: cover;
        height: 24rem;
        width: 100%;

    }

    &__heading-month {
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: .5rem;
        padding: .1rem .2rem;
        color: rgba($color-white, .8);
        background-color: rgba($color-black, .7);
    }

}




// BOOK

.book {
    padding: 0 .5rem;
    color: rgba($color-white, 1);
    font-size: 1.3rem;
    text-align: left;
    margin: .5rem 0 0 .5rem;

    &__title {
        padding: .6rem;
        text-transform: uppercase;
        color: rgba($color-gold, 1);
        //  font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
    }

    &__author {}

    &__number-pages {}

    &__genres {
        ul {
            list-style: none;
            margin: .5rem .5rem .5rem 0;


            li {
                font-size: 1.1rem;
                text-align: center;
                margin-top: .5rem;

                &:not(:last-child) {
                    padding-bottom: 1px;
                    background:
                        linear-gradient(to left,
                            rgba($color-gold, .1) 0%,
                            rgba($color-gold, .2) 12%,
                            rgba($color-gold, .7) 47%,
                            rgba($color-gold, .1) 100%) left bottom transparent no-repeat;
                    background-size: 100% 1px;
                }

            }
        }
    }

    &__span {
        color: rgba($color-gold, 1);
    }
}


.flex {

    &__cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 90rem;
        margin: 0 auto;

        &>.card {
            flex: 1 1 15rem;
            margin: 1rem 1rem 1rem 2rem;

            @include respond(phone) {
                flex: 1 1 14rem;
            }
        }
    }
}